Package: keenetic-xray
Version: {{VERSION}}
Architecture: {{ARCH}}
Maintainer: kuzzrus <kuzzrus@gmail.com>
Section: net
Category: Network
Priority: optional
Depends: xray-core
Source: https://github.com/kuzzrus/keenetic-xray-go
Description: Automatic failover manager and remote control for Xray (VLESS) on Keenetic/Entware routers.
